.vs/*
Debug/*
.idea/*
cmake-build-debug/*
CMakeLists.txt
*.sln/*
*.vcxproj/*
*.filters/*
*.user/*
sexyOS.sln
sexyOS.vcxproj
sexyOS.vcxproj.filters
sexyOS.vcxproj.user
main.cpp
zapasowy_main.txt
dummy.txt
